.App {
  text-align: center;
  background-color: rgb(173, 173, 165);
  
}

body{
  /* background-image:  url("./logo1.png");
  background-repeat: no-repeat; */
  margin-block-end: 50px;
  
}
footer{
  margin-bottom: 100px;
  background-color: #a3a0a0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(117, 24, 24);
}



/* login {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
  font-family: 'Comfortaa', cursive;
} */

.form {
  position: relative;
  z-index: 1;
  background: #4b4a49;
  border-radius: 10px;
  max-width: 500px;
  margin-top: 60px;
  margin-bottom: 300px;
  margin-left: 5%;
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
}

.form input {
  outline: 0;
  background: #dfd29b;
  width: 70%;
  border: 1;
  border-radius: 5px;
  margin: 0 0 15px;
  
  padding: 15px;
  box-sizing: border-box;
  font-size: 20px;
  font-family: 'Rockwell Extra Bold', cursive;
} 
.form a{
  font-size: larger;
}
.form input:focus {
  background: #929485;
}
.form button {
  font-family: 'Rockwell Extra Bold', cursive;
  text-transform: uppercase;
  outline: 0;
  margin-bottom: 10px;
  background: #3b3b38;
  width: 50%;
  border: 0;
  border-radius: 5px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Rockwell Extra Bold', cursive;
} 
.form h1 {
  outline: 0;
  background: null;
  color: #301e1e;
  width: 100%;
  border-top: 15px;
  margin-top: 15px;
  margin: 0 0 15px;
  font-size: 30px;
  font-family: 'New Century Schoolbook', TeX Gyre Schola, serif, cursive;
} 
.form table{
  background-color: #bbbab3;
  padding-bottom: 100px;
}
form tr{
  text-align: center;
  margin-left: 100px;
}
/* 
.form h1 {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  
  margin: 0 0 15px;
  
  
  font-size: 30px;
  font-family: 'New Century Schoolbook', TeX Gyre Schola, serif, cursive;
} */
/* 




.form button:active {
  background: #395591;
}

.form span {
  font-size: 40px;
  color: #4b6cb7;
  margin-bottom: 25px;
  display: block;
}

.form p.error {
  margin: 0 0 10px 10px;
  text-align: left;
  font-size: 10px;
  color: red;
}







 */


/* Navbar */


nav a.nav-link{
  
  font-weight: 30;
  letter-spacing: 0.05rem;
cursor: pointer;
}

nav ul li{
  text-transform:uppercase;
}
.navbar-nav >li>a.active , navbar-nav > li> a:focus {
  color: #d2f02c;
  border-top: 0.1875rem solid #d2f02c;
}

/*Hostel Canteen Topic*/
.navbar-brand {
  color: #ffffff;
  
  font-family: 'Rockwell Extra Bold', cursive;
  font-weight: bold;
  
 
  
}

.navbar-nav{
  
  margin-left: 150px;
  padding:10px;
  
}

nav h4{
  color: rgb(255, 255, 255);
  font-size: 65px;
}
.navbar-nav > li > a {
  color: rgb(255, 255, 255);
  font-size: 1.2 rem;
  margin-right: 10px;
  margin-left: 10px;
  
 
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  

}


/* 
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Comfortaa', cursive;
} */