.header {
    display: block;
    text-align: center;
    font-size: 30px;
    margin: 10px 0;
}
.nav {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 80px;
    margin-top: 0;
}

.nav > li {
    color: white;
}

.nav > li:hover {
    color: turquoise;
}
.productContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.products{
    flex-direction: column;
    display: flex;
    width: 25%;
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
}

.productDesc{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}